<header class="content-header">
	<h1><%= t('common.user_count',count: @users.size) %></h1>
</header>

<ul class="users">
	<% @users.each do |user| %>
		<li>
			<%= link_to user.name, user %>
		</li>		
	<% end %>
</ul>