<header class="content-header">
	<h1>Registrations for <%= link_to(@event.name, @vent) %></h1>
</header>

<ul class="registrations">
	<% @registrations.each do |r| %>
		<li><%= link_to r.user.email, r.user %>
		<span class="date">
			<%= time_ago_in_words(r.created_at) %> ago
		</span>
		(<%= r.how_heard %>)</li>		
	<% end %>
</ul>